<div class="jumbotron">
  <h1 class="display-3"><%= "#{@user.name}'s profile" %></h1>
  <p class="lead"><%= "You are on the #{current_user.grail.capitalize} track!"%></p>
  <hr class="m-y-2">
  <p class="lead">
    <%= link_to report_due? ? "Create Today's Report" : "Update Today's Report",
      new_user_journey_report_path(current_user, active_journey),
      class: "btn btn-primary btn-lg"
    %>
    <%= link_to "Current Journey",
      user_journey_path(current_user, active_journey),
      class: "btn btn-primary btn-lg"
    %>
  </p>
</div>
