<h1 class="text-center">Your <%= current_user.grail.capitalize %> Journey</h1>

<h2 class="text-center"><%= current_user.grail.capitalize %> Over Time</h2>
<%= line_chart @survey_data,
  colors: ["#6495ed", "#999"],
  width: "100%", height: "20em",
  label: "Happyness",
  min: 0, max: 10,
  xtitle: "Time", ytitle: "Happyness",
  discrete: true
%>

<h2 class="text-center">Pictures of <%= current_user.grail.capitalize %></h2>
<div id="links">
  <% @reports.each do |report| %>
    <% if report.image %>
      <% img_thumb = attachment_url(report, :image, :fill, 140, 140, format: "jpg", fallback: 'break.jpeg' ) %>
      <% img_large = attachment_url(report, :image, :fill, 500, 500, format: "jpg", fallback: 'break.png') %>
      <%= link_to image_tag(img_thumb, title: report.created_at.to_s), img_large, data: { gallery: '' } %>
    <% end %>
  <% end %>
</div>

<%= render 'layouts/lightbox' %>
