<!DOCTYPE html>
<html>
<head>
  <title>ASAPP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <% if params[:action] == 'home' %>
    <%= render 'pages/hero' %>
  <% end %>

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
